<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://unpkg.com/vue@2/dist/vue.js"
            crossorigin="anonymous"></script>

    <title>Todo List</title>
    <link rel="stylesheet"
          type="text/css" href="styles.css">
    <link rel="stylesheet" crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div class="col-sm-offset-3 col-sm-6" id="app">
    <h1>Todo List</h1>
    <ul class="list-group ">
        <li class="list-group-item" v-for="item in items">
            <span :class="item.done ? 'done' : ''">{{ item.text }}</span>
            <div class="buttons">
                <span class="glyphicon glyphicon-ok"
                      v-on:click="markAsDone(item.id)"> </span>&nbsp;
                <span class="glyphicon glyphicon-remove"
                      v-on:click="deleteItem(item.id)"> </span>
            </div>
        </li>

    </ul>

    <div class="form-group">
        <input type="text"
               v-model="newItemText"
               class="form-control">
    </div>

    <button type="button"
            v-on:click="addNewItem"
            class="btn btn-success">Add a Task</button>
</div>

<script src="vue-code.js"></script>

</body>
</html>
